AhorcadoCliente/Connected Services/UserServices/UserServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50294/UserServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50294/UserServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50294/UserServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AhorcadoServicios.Model.POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServices_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="IUserServices_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IUserServices_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_emailAlreadyRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:emailAlreadyRegistered" />
  </wsdl:message>
  <wsdl:message name="IUserServices_emailAlreadyRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:emailAlreadyRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_nicknameAlreadyRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:nicknameAlreadyRegistered" />
  </wsdl:message>
  <wsdl:message name="IUserServices_nicknameAlreadyRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:nicknameAlreadyRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_telephoneAlreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:telephoneAlreadyExist" />
  </wsdl:message>
  <wsdl:message name="IUserServices_telephoneAlreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:telephoneAlreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_updatePlayerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePlayerProfile" />
  </wsdl:message>
  <wsdl:message name="IUserServices_updatePlayerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePlayerProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServices">
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/logIn" message="tns:IUserServices_logIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/logInResponse" message="tns:IUserServices_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/registerUser" message="tns:IUserServices_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/registerUserResponse" message="tns:IUserServices_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="emailAlreadyRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/emailAlreadyRegistered" message="tns:IUserServices_emailAlreadyRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/emailAlreadyRegisteredResponse" message="tns:IUserServices_emailAlreadyRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nicknameAlreadyRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/nicknameAlreadyRegistered" message="tns:IUserServices_nicknameAlreadyRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/nicknameAlreadyRegisteredResponse" message="tns:IUserServices_nicknameAlreadyRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="telephoneAlreadyExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/telephoneAlreadyExist" message="tns:IUserServices_telephoneAlreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/telephoneAlreadyExistResponse" message="tns:IUserServices_telephoneAlreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePlayerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/updatePlayerProfile" message="tns:IUserServices_updatePlayerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/updatePlayerProfileResponse" message="tns:IUserServices_updatePlayerProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServices" type="tns:IUserServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/IUserServices/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IUserServices/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="emailAlreadyRegistered">
      <soap:operation soapAction="http://tempuri.org/IUserServices/emailAlreadyRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nicknameAlreadyRegistered">
      <soap:operation soapAction="http://tempuri.org/IUserServices/nicknameAlreadyRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="telephoneAlreadyExist">
      <soap:operation soapAction="http://tempuri.org/IUserServices/telephoneAlreadyExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePlayerProfile">
      <soap:operation soapAction="http://tempuri.org/IUserServices/updatePlayerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServices">
    <wsdl:port name="BasicHttpBinding_IUserServices" binding="tns:BasicHttpBinding_IUserServices">
      <soap:address location="http://localhost:50294/UserServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>