AhorcadoCliente/Connected Services/ServiceReference2/GameServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AhorcadoServicios.Model.POCO" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AhorcadoServicios.Model.POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50294/GameServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo_creador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_partida" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_partida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_creador" type="xs:int" />
      <xs:element minOccurs="0" name="id_ganador" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_palabra" type="xs:int" />
      <xs:element minOccurs="0" name="id_partida" type="xs:int" />
      <xs:element minOccurs="0" name="id_retador" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="intentos_restantes" type="xs:int" />
      <xs:element minOccurs="0" name="letra_seleccionada" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="nickname_creador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
</xs:schema>