AhorcadoCliente/Connected Services/ServiceReference2/GameServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50294/GameServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AhorcadoServicios.Model.POCO" />
  <xs:element name="createMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AhorcadoServicios.Model.POCO" minOccurs="0" name="createMatch" nillable="true" type="q1:Match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AhorcadoServicios.Model.POCO" minOccurs="0" name="getMatchListResult" nillable="true" type="q2:ArrayOfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>